{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="whole">
    <div class="left">
        <h1 class="heading">We Care</h1><br>
        <h5>We are aiming to solve the problems faced by people with disabilities who
            require continuous assistance. We aim to make them self dependent in external
            environment. Also every disabled person isn't of means and not everyone can afford
            to hire a personal attendant.

        </h5>
    </div>

    <div class="right">
    </div>
</div>
<br>
<br>
<br>
<br>

<div>
    <h2>What we have to offer:</h2><br>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Deaf</h3>
                <i class="fa fa-deaf"></i><br>
                Helping the deaf to communicate by converting the other person's speech to text.


            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Dumb</h3>
                <i class="fa fa-american-sign-language-interpreting"></i><br>
                Helping the dumb to communicate by converting their sign language into text.


            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Blind</h3>
                <i class="fa fa-blind"></i><br>
                Helping the blind in navigating around the required area.


            </div>
        </div>

        <!-- <div class="feat">
        
        <div class="deaf">
            <div class="fa fa-deaf" id="logo"></div><br>
            some explantion for some reason to  be inserted here cause let's pawriiii
        </div>
        <div class="dumb">
            <div class="fa fa-deaf" id="logo"></div><br>
            some explantion for some reason to  be inserted here cause let's pawriiii
            
        </div>
        <div class="blind">
            <div class="fa fa-deaf" id="logo"></div><br>
            some explantion for some reason to  be inserted here cause let's pawriiii
        </div>
    </div> -->
    </div>


    <!-- <div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Simply Your Todo's!</h1>
        <p>Life is fun. But life is also busy. There's a million different things you want to do. But what matters most
            is <u>what</u> you do. I created <b><i>Todo's</i></b> to help you make sense of all of your opportunities
            and live that life that matters most to you. Your new organized life awaits.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signup' %}">Start</a>
    </div>
</div> -->

    {% endblock %}